## for Local Build

# Mandatory Vars

NAME='PIYUUU'
## Name of receiver

PIC='./local/sample-pic.jpeg'
## Name of image file

# Optional Vars -- Do not add these vars to your env if you dont want to use them

NICKNAME='PIYUUU'
## A Nickname for more personalization

HBD_MSG='HBD'
## Custom HBD Greeting message

SCROLL_MSG='https://telegra.ph/HAPPY-BIRTHDAY-07-04-40'
## Name of the Scroll Message txt file

OPEN_DATE='2024-08-14'
## Active Date in YYYY-MM-DD format
